.top{
	margin-top:20px;
}
.kform{
	height:55px;
	padding-left:10px;
}
#footer{  
   position: fixed;  
   bottom: 0; /* 关键 */  
/*    left:0; IE下一定要记得   */
   height: 60px;         /* footer的高度一定要是固定值*/  
   margin-left:300px;
/*    font-weight:bold; */
}  
#main-content{  
   padding-bottom: 60px; /*重要！给footer预留的空间*/  
}
.light{
	color:red;
}
.mya{
	 text-decoration:none;
	 color:#008000;
	 font-size:13px;
}
.mya2{
	color:#666;
	font-size: 13px;
}
.res{
	font-size:13px;
	font-color:#999;
}